#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:#36454f;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.html {
  background-color: #36454F;
}
.primary {
  color: whitesmoke;
}